* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

nav {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    height: 15vh;
    width: 100%;
    border-radius: 5px;
}

.sen {
    float: left;
    text-transform: uppercase;
    letter-spacing: 10px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    color: cornsilk;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}

.icon {
    width: 50%;
    height: 50%;
    padding: 12px 15px;
}

.nav-lnk {
    align-items: center;
    float: right;
    display: flex;
    list-style: none;
}

.nav-lnk li {
    align-items: center;
    padding: 20px 25px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    cursor: pointer;
    color: cornsilk;
}

.body-content {
    width: 100%;
    height: 100%;
}

.cbody p {
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    margin: 0px;
    
}

.cbody{
    position: relative;
    height:auto;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #e4c0c0 0%, rgb(136, 9, 9) 100%);

    
}

.foot{
    height: 220px;
    background-image: linear-gradient(to right, #b8d1f1 0%, rgb(23, 116, 202) 100%);

}

.foot-content, h2{
    margin: 0px;
    padding: 0px;
}

 .foot-content{
    height: 200px;
    width: 100%;
    text-align: center;

    
}

.foot-copy{
    height: 20px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, #83a2ca 0%, rgb(6, 68, 126) 100%);
    
    
}
.foot-copy, h5{
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:450px){
    nav {
        background-image: linear-gradient(to right, #434343 0%, black 100%);
        height: 30vh;
        width: 100%;
        border-radius: 5px;

    }
    .icon{
        display: none;
    }
    .sen{
        align-items: center;
    }
    .nav-lnk {
        display: none;
    }
}